@model EditViewModel
@{ ViewBag.Title = "NatterLite-Edit Profile"; }

<link rel="stylesheet" href="~/css/User/editProfile.css" />

<div class="Login">
    <form asp-antiforgery="true" asp-action="EditProfile" asp-controller="User" enctype="multipart/form-data">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <p>
            <label asp-for="FirstName">First Name:</label><br />
            <input type="text" id="firstName" asp-for="FirstName" value="@Model.FirstName" />
            <span asp-validation-for="FirstName"></span>
        </p>
        <p>
            <label asp-for="LastName">Last Name:</label><br />
            <input type="text" id="lastName" asp-for="LastName" value="@Model.LastName" />
            <span asp-validation-for="LastName"></span>
        </p>
        <p>
            <label asp-for="UniqueName">Unique Name:</label><br />
            <input type="text" id="uniqueName" asp-for="UniqueName" value="@Model.UniqueName" />
            <span asp-validation-for="UniqueName"></span>
        </p>
        <p>
            <label asp-for="Country">Country:</label><br />
            <select id="country" asp-for="Country" value="@Model.Country">
                @foreach (var country in ViewBag.Countries)
                {
                    <option value="@country">@country</option>
                }
            </select>
        </p>
        <p>
            <label asp-for="DateOfBirth">Date of Birth:</label><br />
            <input type="date" id="dateOfBirth" asp-for="DateOfBirth"
                   value="@Model.DateOfBirth.ToString("yyyy-MM-dd")"
                   min="1920-01-01" max="2020-12-31">
        </p>
        <p>
            <label asp-for="Email">Email:</label><br />
            <input type="text" id="email" asp-for="Email" value="@Model.Email" />
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            <label asp-for="OldPassword">Old password:</label><br />
            <input type="password" id="oldpassword" asp-for="OldPassword" />
            <span asp-validation-for="OldPassword"></span>
        </p>
        <p>
            <label asp-for="NewPassword">New password:</label><br />
            <input type="password" id="newPassword" asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </p>
        <p>
            <label asp-for="ConfirmNewPassword">Confirm new password:</label><br />
            <input type="password" id="confirmNewPassword" asp-for="ConfirmNewPassword" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </p>
        <p>
            <label asp-for="ProfilePicture">Profile Picture:</label><br />
            <label class="input-file">
                <input type="file" asp-for="ProfilePicture" accept=".jpg, .jpeg">
                <span>Choose file(.jpg or.jpeg)</span>
            </label>
            <span asp-validation-for="ProfilePicture"></span>
        </p>
        <p>
            <label asp-for="BackgroundPicture">Background Picture:</label><br />
            <label class="input-file">
                <input type="file" asp-for="BackgroundPicture" accept=".jpg, .jpeg">
                <span>Choose file(.jpg or.jpeg)</span>
            </label>
            <span asp-validation-for="BackgroundPicture"></span>
        </p>
        <p>
            <div class="button"><input type="submit" value="Save Changes" /></div>
        </p>
    </form>
</div>
<script>
    $('.input-file input[type=file]').on('change', function () {
        let file = this.files[0];
        $(this).next().html(file.name);
    });
</script>

