@model UserProfileViewModel
@{ ViewBag.Title = "NatterLite-Profile"; }

<link rel="stylesheet" href="~/css/User/seeProfile.css" />

<div class="userProfileView">
    <div class="userProfileViewWrapper">
        <div class="imagesOfUser">
            <img id="backgroundImage" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.UserBackgroundPicture))" />
            <img id="profileImage" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.UserProfilePicture))" />
        </div>
        <div class="userNames">
            <h4>@Model.UserFullName</h4>
            <span>@Model.UserUniqueName</span>
        </div>
        <div class="additionalInfo">
            <span>@Model.UserStatus</span>
            <span>Date of Birth:&#160 @Model.UserDateOfBirth</span>
            <span>Country:&#160 @Model.UserCountry</span>
        </div>
        @if (Model.IsThisCurrentUser)
         {
            <div class="blackListLink">
                <a href="/User/SeeBlackList">My Blacklist</a>
                @if (User.IsInRole("admin")) 
                 {
                    <a href="/Admin/BannedUsers">Banned Users</a>
                 }
            </div>
         }
    </div>
</div>